[Unit]
Description=Check connectivity to the network port %i
Documentation=man:nc(1) man:port-health-checker-generator(1)
SourcePath=/etc/port-health-checker/%i.conF

[Service]
Type=oneshot
EnvironmentFile=/etc/port-health-checker/%i.conf
ExecStart=/usr/bin/nc --nodns -z $OPTIONS $ADDR %i

PrivateMounts=true
PrivateTmp=true
PrivateDevices=true

MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictRealtime=yes
RestrictSUIDSGID=yes
# TODO: man:systemd.exec(5)
#SystemCallFilter=@basic-io @network-io
#SystemCallArchitectures=native
# ... (any others?) ...

